
.WelkomBanner{
    position:absolute;
    left: 25%;
    top: 50px;
}

.box1, .box2{
    width: 400px;
    height: 300px;
    display: inline-table;
    margin-right: 100px;
    border-radius: 20px;
    margin-bottom: 25px;
    padding-left: 10px;

    background-color: #ffffff;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Andere blokken */

  .boxes {
     margin:0 auto;
     margin-left: 25%;
     margin-top: 15%;
  }

  a{
    text-decoration: none;
    color: black;
  }

  ion-icon {
    pointer-events: none;
   }

.scroll-bg{

    width: 1000px;
    margin: 10% auto;
}

.scroll-div{
    width: 1000px;

    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object{
    font-size: 15px;

}

#lowerleft
{
    margin-bottom: 1px;
    margin-left : 10px;
    margin-bottom: 100px;
    width: 200px;
    height: 150px;
    background-color: red;
    color: green;
    position: fixed;
    bottom: 0;
    border-radius: 15px;
    text-align: center;

    border: 1px solid #3498db;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}






