body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 40px;
    font-family: sans-serif;
    background: #40CCA4;
}

  label{
    color: #888888;
  }


  h3, h5 {
    margin-top: 5px;
    text-align: center;
    font-weight: 300;
  }

  #minty{
    color: #ffffffA1;
  }

  #media{
    color: rgb(0, 0, 0);
  }

  #dashboard{
    /*color: rgb(170, 167, 164);*/
      color: #ffffffA1;
  }

  .formlogin {
    max-width: 350px;
    background: white;
    padding: 40px 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgb(1 51 36 / 18%);
    box-sizing: border-box;
    width: 100%;
}
.account-aanmaken-link {
  text-align: center;
  margin-top: 20px;
}
.formlogin form {
  margin: 0;
}
  label {
    font-size: 11pt;
  }

  .form_login {
      width: 100%;
      line-height: 1em;
      height: 45px;
      padding: 0px 15px;
      border: 1px solid #d2d2d2;
      border-radius: 4px;
      margin-bottom: 20px;
  }

  .buttonlogin {
    background: #FF6C00;
    color: white;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

  .link {
    color: rgb(170, 167, 164);
    text-decoration: none;
    font-size: 10pt;
  }

  #resetpass{
    /*color: #ff6600;*/
      color: #77BFA0;
    margin-bottom: 20px;
    width: 100%;
    text-align: right!important;
    display: inline-block;
  }

/* De registreren voor het registreren  */


  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }

  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .registreren {
    background: #fff;
    border-radius: 10px;
    width: 700px;
    position: relative;
    /* transition: all 5s ease-in-out; */
  }

  .registreren h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .registreren h1 {
    text-align: left;
    color: #f60;
    margin: 0 0 20px 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
  .registreren .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .registreren .close:hover {
    color: #c30505;
  }
  .registreren .content {
    max-height: 40%;
    overflow: auto;
  }


  body{padding:0;margin:0;}

  .userinput{
    display: grid;
    padding: 5%;
    width: 80%;
  }

  .userinput {
    display: grid;
    padding: 5%;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

span.label-span {
  margin-bottom: 10px!important;
  display: block;
}
  #buttonLogin{
    background-color: #ff6600;
    color: #ffffff;
    border-radius: 25px;
    height: 35px;
    margin: 0;
    border: 0;
    padding: 00px 20px;
    cursor: pointer;
  }
  .last-fields {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .userinput #userInput {
    width: 100%;
    line-height: 1em;
    height: 45px;
    padding: 0px 15px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
  }
  .footer-buttons {
    margin-top: 30px;
  }
  .algemene-voorwaarden {
    font-size: 12px;
    color: rgb(91, 91, 91);
    margin-top: 10px;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .registreren{
      width: 70%;
    }

    .userinput{
      display: block;
      padding: 22%;
      width: 80%;
    }

    #buttonLogin{
      background-color: #ff6600;
      color: #ffffff;
      border-radius: 25px;
      height: 35px;
      width: 250px;
      margin: 0;
      position: absolute;
      bottom: 2%;

      margin-left: 40px;
    }

    .box{
      width: 70%;
    }
    .registreren{
      width: 350px;
    }
    .userInput{
      padding: 5%;
      left: 10px;
      display: block;
    }
  }

  .error{
    color: red;
    font-size: small;
    float: right;
    display: flex;
    top: -40px;
  }

  .succes{
    color: green;
    font-size: small;
    float: right;
    display: flex;
    top: -40px;
  }

  a{
    text-decoration: none;
  }
  .minty-logo {
    max-width: 150px;
  }

