/* .row2{
  position: fixed;
  left: 0;
  width: 150px;
  height: 100%;
  color: rgb(0, 86, 86);
} */

.leftColor{
  width: 775px;
  height: 100%;
  position: fixed;
  width: 30px;
  left: 0;
  top: 0;
  padding-right: 75px;
  background-color: rgb(185, 238, 205);
}

.container{
  position: fixed;

  margin-left: 50px;
  height: 80%;
  top: 10%;
  width: 100px;
  border-radius: 10px;
 
  border-left: 5px solid #fefefe;
  background: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.container ul{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 250px;
  padding-left: 30%;
  padding-top: 40px;
  font-size: large;
}

.container ul li {
  position: relative;
  display: block;
  width:100%;
  display: flex;
  text-decoration: none;
  color: rgb(166, 162, 162);
}

.container ul li a{
  text-decoration: none;
  margin-top: 30px;
}


.container ul li a:hover{
  background: #fff; 
}



#MINTY{
  position: relative;
  left: -7px;
  top: -20px;
  color: rgb(157, 240, 188);
}
