.content{
    padding: 15px;
    position: absolute;
    top: 380px;
    left: 30%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h3{
    position: absolute;
    top: 5%;
    left: 30%;
}

input{
    margin-top: 17px;

}

.alleGebruikersForm{
    position: absolute;
    width: 90%;
    margin-top: 150px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.table-table{
    position: absolute;
    width: 75%;
    margin-top: 100px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: rgb(181, 178, 178);
    border-radius: 7px;
}

td{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-collapse: collapse;
    
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 3em 0;
    padding: 0;
}

.klantgegevens{
    width: 20%;
    height: 600px;
    margin-left: 70%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #ccc;
    
    padding: 15px;
    padding-top: 60px;
    position: absolute;
    border-radius: 2%;
}

.klantgegevens h3{
    top: 0;
    left: 0;
    margin-left: 10px;
}

.klantgegevens input{
    width: 100%;
    height: 6%;
    background-color: rgb(235, 238, 242);
    text-decoration: none;
    border: none;
    border-radius: 8px;
}

.info{
    position: relative;
    width: 50%;
    height: 500px;
    background-color: red;
    margin-left: 15%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #ccc;
    border-radius: 2%;
}
.boldetails h3{
    margin: 0;
    left: 0;
    left: 10px;
}
.boldetails{
    
    left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    padding-top: 60px;
    border-radius: 2%;
}

.inline{
    width: 25%;
    left: 80%;
    display: inline-block;
    margin-right: 0.5px;
    background-color: rgb(255, 255, 255);
    color: red;
    border-radius: 0%;
    cursor: pointer;
    border: 2px solid red; 
}

#inloggenalsklant{
    border: 2px solid rgb(100, 241, 85);
    color: rgb(100, 241, 85);
}

.row1-inline{
    width: 25%;
    left: 80%;
    display: inline-block;
    margin-right: 0.5px;
    width: 15%;
    border-radius: 5px; 
    text-decoration: none;
    border-color: none;
    border: 1px solid rgb(194, 193, 193);

}

#kopp-adres{
    width: 60%;
}

#show{
    cursor: pointer;
    width: 7%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(194, 193, 193);
    border-radius: 5px; 
}

#show::placeholder{
    color: rgb(200, 200, 203) ;
}

.status h3{
    margin: 0;
    left: 0;
    left: 10px;
    top: 180px;
}



.createUser{
    margin-left: 90%;
}

.popUp .overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }
  .popUp .content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 550px;
    width: 750px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .popUp .close-btn {
    user-select: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .popUp.active .overlay {
    display: block;
  }
  .popUp.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
  }
  .show {
    padding: 0.5em 1em;
    font-size: 15px;
    font-family: "Titillium Web";
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 90%;
    cursor: pointer;
    background-color: rgb(127, 232, 127);

  }

  p {
    font-weight: 400;
    user-select: none;
  }
  h1 {
    user-select: none;
  }
  .userinput{
    display: flex;
    padding: 3%; 
    width: 80%; 
  }

  #userInput{
    height: 40px;
    width: 250px;
    margin-left: 25px;
    border-radius: 5%;
  }

.links {
    margin-top: 5%;

}
  
.links input{
    display: flex;
    margin-left: 20%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.links input {
    display: flex;
    margin-left: 20%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.info2{
    margin-top: 50%;
    position: relative;
    width: 50%;
    height: 200px;
    background-color: red;
    margin-left: 15%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #ccc;
    border-radius: 2%;
}

.inputGeldig{
    width: 70%;
}
#btndagen{
    width: 10%;
}

.factuurSectie{
    margin-top: 50%;
    position: relative;
    width: 78%;
    height: 200px;
    background-color: red;
    margin-left: 15%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #ccc;
    border-radius: 2%;
}

.factuurGebruikerOphalen{
    width: 100px;
    padding: 2%;
    background-color: red;
    margin-left: 90%;
    position: absolute;
    margin-top: 20%;
}

